numpy==1.22.4
pandas==1.4.2
scipy==1.8.0
matplotlib==3.5.2
seaborn==0.11.2
scikit-learn==1.0.2
joblib==1.1.0
fastcluster==1.2.6
pillow==9.1.0
pybind11>=2.6.0
cython>=0.29.21
docutils>=0.17
missingno>=0.5.2,<0.6.0
tqdm>=4.62.3,<5.0.0