numpy==1.26.4  # Python 3.11 requires numpy >= 1.23
pandas==1.5.3  # Compatible with Python 3.11
scipy==1.10.1  # Compatible with fastcluster 1.2.x
matplotlib==3.6.3  # Version compatible with Python 3.11
seaborn==0.12.2  # Compatible with matplotlib >= 3.6
scikit-learn==1.2.2  # Compatible with Python 3.11
joblib==1.2.0  # Version compatible with Python 3.11
fastcluster==1.2.6  # Compatible with scipy >= 1.6.3
pillow==9.4.0  # Compatible with Python 3.11
pybind11>=2.10.0  # Python 3.11 requires >= 2.10.0
cython>=0.29.21
docutils>=0.17
missingno>=0.5.2,<0.6.0
tqdm>=4.62.3,<5.0.0